@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.learn-more {
  position: fixed;
  bottom: 15vh;
  right: 10vw;
  z-index: 1;
  width: 220px;
  height: 50px;
  background-color: rgba(245, 245, 245, 0.583);
  // border: red 5px solid;
  border-radius: 3px;
  overflow: hidden;
  padding: 5px;
  transition: all 350ms;
  justify-content: center;
  
  &:hover {
    cursor: pointer;
    width: 440px;
    height: 250px;
    background-color: rgba(245, 245, 245, 0.809);
  }

  h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 17px auto 20px;
  }

  p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    width: 400px;
    padding: 10px;
    border-top: solid 1px rgba(123, 123, 123, 0.7);
    letter-spacing: 1px;
  }
}